<p-card class="select-none cursor-pointer border-round-3xl">
  <ng-template pTemplate="header">
    <div class="be-task-item-header grid m-0 px-3 h-3rem align-items-center border-round-top-lg border-bottom-1 surface-border">
      <span class="col-4 text-xl font-bold p-0">Task</span>
      <span class="col-4 text-sm font-bold p-0 text-center">#{{ task.id.split('-')[0] }}</span>
      <div class="col-4 text-right p-0">
        @if (running$ | async) {
          <p-progressSpinner styleClass="ml-2 w-2rem h-2rem"></p-progressSpinner>
        }
      </div>
  </div>
  </ng-template>
  <div class="flex flex-column justify-content-center gap-2 align-items-center">
    <table class="w-full">
      <tr>
        <td class="font-semibold pr-1">Input</td>
        <td>{{ task.setting.name }}</td>
      </tr>
      <tr>
        <td class="font-semibold pr-1">Condition</td>
        <td>{{ task.setting.condition }} {{ task.setting.conditionMU }}</td>
      </tr>
      <tr>
        <td class="font-semibold pr-1">Date</td>
        <td>{{ task.date | date }} {{ task.date | date:'shortTime' }}</td>
      </tr>
    </table>
  </div>
</p-card>
