input[type=checkbox] {
  display: none;
}

.be-queue-button {
  position: relative;
  p-badge {
    position: absolute;
    top: -25%;
    right: 0.25em;
  }
}

.be-jobs-in-queue {
  overflow-y: auto;
  max-height: 60vh;
}

.be-job {
  border-top: 1px solid var(--surface-border);
  &:last-of-type {
    border-bottom: 1px solid var(--surface-border);
  }
  &:hover {
    background: var(--surface-hover);
  }
  &:active {
    background: var(--surface-border);
  }
}

.be-taskListSidebarToggleIcon {
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  width: 2rem;
  display: block
}

.be-hamburger-line-1, .be-hamburger-line-2, .be-hamburger-line-3 {
  transition: all 0.3s;
  height: 3px;
  width: 100%;
  background-color: var(--primary-color-text);
}

.be-hamburger-line-2, .be-hamburger-line-3 {
  margin-top: 0.3rem;
}


input[type=checkbox]:checked ~ .be-taskListSidebarToggleIcon > .be-hamburger-line-1 {
  transform: rotate(135deg);
}

input[type=checkbox]:checked ~ .be-taskListSidebarToggleIcon > .be-hamburger-line-2 {
  opacity: 0;
}

input[type=checkbox]:checked ~ .be-taskListSidebarToggleIcon > .be-hamburger-line-3 {
  transform: rotate(-135deg);
  margin-top:-11px;
}

.p-toolbar-group-center {
  span.be-pageTitle {
    font-size: 1.5rem;
    color: var(--primary-color-text);
  }
}