<p-toolbar>
  <div class="p-toolbar-group-start">
    <input id="showTaskListSidebar" type="checkbox" class="showTaskListSidebar" [checked]="showTaskListSidebar" (change)="changeShowTaskListSidebar()">
    <label for="showTaskListSidebar" class="be-taskListSidebarToggleIcon ml-4">
      <div class="be-hamburger-line-1"></div>
      <div class="be-hamburger-line-2"></div>
      <div class="be-hamburger-line-3"></div>
    </label>
  </div>
  <div class="p-toolbar-group-center cursor-pointer" routerLink="/" (click)="checkChangeShowTaskListSidebar()">
    <img alt="BESKID" draggable="false" class="be-header-tiny select-none" src="assets/icons/header_tiny_light_monochrome.png">
    <img alt="BESKID" draggable="false" class="be-header select-none" src="assets/icons/header_light_monochrome.png">
  </div>
  <div class="p-toolbar-group-end flex-row-reverse">
    <p-speedDial [model]="avatarItems" [radius]=90 showIcon="far fa-user" direction="down-left" type="quarter-circle" buttonClassName="p-button-info" [mask]="true"></p-speedDial>
  </div>
</p-toolbar>