<p-toolbar>
  <div class="p-toolbar-group-start">
    <input id="showTaskListSidebar" type="checkbox" class="showTaskListSidebar" [checked]="showTaskListSidebar" (change)="changeShowTaskListSidebar()">
    <label for="showTaskListSidebar" class="be-taskListSidebarToggleIcon ml-4">
      <div class="be-hamburger-line-1"></div>
      <div class="be-hamburger-line-2"></div>
      <div class="be-hamburger-line-3"></div>
    </label>
  </div>
  <div class="p-toolbar-group-center">
    <span class="be-pageTitle">BESKID</span>
  </div>
  <div class="p-toolbar-group-end">
    <p-speedDial [model]="avatarItems" [radius]=120 showIcon="far fa-user" direction="down-left" type="quarter-circle" buttonClassName="p-button-info" [mask]="true"></p-speedDial>
  </div>
</p-toolbar>