<div class="flex flex-column row-gap-3">
@if (task$ | async; as task) {
    <p-panel>
        <ng-template pTemplate="header">
            <div class="flex justify-content-between align-items-center flex-wrap column-gap-2 w-full">
                <span class="font-bold">Task Data</span>
                <p-button severity="danger" icon="fas fa-trash" (click)="deleteTask(task)"></p-button>
            </div>
        </ng-template>
        @if(!!task.values?.length) {
            <be-task-chart [values]="(task.values) | numbersToStrings"></be-task-chart>
        }
    </p-panel>
    <be-task-run [task]="task"></be-task-run>
    <be-task-results [task]="task"></be-task-results>
}
</div>
