<div class="flex flex-column row-gap-3">
@if (task$ | async; as task) {
    <be-task-run [task]="task" [lockableModels]="(lockableModels$ | async) || []" [running]="(running$ | async) || false"></be-task-run>
    <be-task-results [task]="task"></be-task-results>
    <div class="grid -mb-2">
        <p-panel class="be-panel-data col-12 xl:col-6">
            <ng-template pTemplate="header">
                <div class="flex justify-content-between align-items-center flex-wrap gap-2 w-full">
                    <span class="font-bold">Task Data</span>
                    <div class="flex justify-content-center gap-2 align-items-center">
                        <p class="m-0">{{ task.date | date }}</p>
                        <p class="m-0">{{ task.date | date:'shortTime' }}</p>
                    </div>
                    <div class="flex justify-content-end w-full sm:w-auto">
                        <p-button severity="danger" icon="fas fa-trash" (click)="deleteTask(task)"></p-button>
                    </div>
                </div>
            </ng-template>
            <be-task-chart [values]="(task.values) | numbersToStrings"></be-task-chart>
        </p-panel>
        <be-task-jobs class="col-12 xl:col-6" [taskId]="task.id"></be-task-jobs>
    </div>
}
</div>
