@if (uiState$ | async; as uiState) {
  <be-processing></be-processing>
  <be-toolbar [showTaskListSidebar]="uiState.showTaskListSidebar"></be-toolbar>
  <be-task-list class="animation-duration-150 {{uiState.showTaskListSidebar ? 'fadeinleft' : 'fadeoutleft'}}"></be-task-list>
  <div class="be-content {{uiState.showTaskListSidebar && 'be-sidebar-visible'}}" >
    <router-outlet />
  </div>
}
<p-confirmDialog>
  <ng-template pTemplate="message" let-dialog>
    <div class="flex flex-column align-items-center pl-4">
      <p>{{ dialog.message }}</p>
    </div>
  </ng-template>
</p-confirmDialog>
<p-toast position="bottom-center"></p-toast>