<be-toolbar [(showTaskListSidebar)]="showTaskListSidebar"></be-toolbar>
<be-task-list [(showTaskListSidebar)]="showTaskListSidebar" class="animation-duration-150 {{showTaskListSidebar ? 'fadeinleft' : 'fadeoutleft'}}"></be-task-list>
<div class="be-content {{showTaskListSidebar && 'be-sidebar-visible'}}" >
  <router-outlet />
</div>
<p-confirmDialog>
  <ng-template pTemplate="message" let-dialog>
    <div class="flex flex-column align-items-center pl-4">
      <p>{{ dialog.message }}</p>
    </div>
  </ng-template>
</p-confirmDialog>
<p-toast position="bottom-center"></p-toast>