/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-teal/theme.css";
@import "primeng/resources/primeng.css";
@import "primeflex/primeflex.scss";

::-webkit-scrollbar {
  width: 0.75rem;
  margin: 1rem;
}

::-webkit-scrollbar-track {
  box-shadow: none; 
  border-radius: 0x;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-600); 
}

html {
  min-height: calc(100% + env(safe-area-inset-top));
  overflow: hidden;
}

.be-header, .be-header-tiny {
 height: 4rem;
}

@media screen and (max-width: 475px) {
  .be-header {
    display:none
   }
}

@media screen and (min-width: 476px) {
  .be-header-tiny {
    display:none
   }
}

body {
  margin: 0; 
  background-color: var(--highlight-text-color);
}

.fadeoutleft {
  visibility: collapse;
  transition: visibility 0.15s;
  .be-bt-add-task .p-button-label {
    display: none;
  }
}

.p-dialog {
  margin: 0.5rem
}

p-button.w-full {
  button {
    width: 100%;
  }
}

be-toolbar {
  p-toolbar {
    position: fixed;
    top: 0;
    z-index: 90;
    width: 100%;
  }

  .p-toolbar.p-component {
    position: relative;
    box-shadow: 0 0.25rem 5px var(--primary-800);
    border-radius: 0;
    border: unset;
    background: var(--primary-color);
    padding-top: env(safe-area-inset-top) !important;
    padding: 0;
    padding-right: 1rem;
    @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
      background: color-mix(in srgb, var(--primary-color) 70%, transparent);
      -webkit-backdrop-filter: blur(0.5rem) brightness(160%);
      backdrop-filter: blur(0.5rem) brightness(160%);
    }
    .p-toolbar-group-start {
      width: 6rem;
    }
    .p-toolbar-group-end {
      width: 5rem;
    }
  }
  p-speeddial {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    .p-speeddial {
      position: relative;
    }
    .p-speeddial-mask {
      height: calc(100vh);
      pointer-events: fill; 
      overflow: hidden;
      background-color: rgba(255, 255, 255, .9);
      @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
        background-color: rgba(255, 255, 255, .5);
        -webkit-backdrop-filter: blur(0.25em);
        backdrop-filter: blur(0.25rem);
      }
    }
  }
}

be-processing p-progressBar {
  position: sticky;
  top: 0;
  z-index: 100;
  .p-progressbar {
    background: transparent;
  }
  .p-progressbar.p-component.p-progressbar-indeterminate {
    border-radius: 0;
    height: 0.25rem;
    margin-bottom: -0.25rem;
    .p-progressbar-value.p-progressbar-value-animate {
      background: var(--highlight-text-color) !important;
    }
  }
}

p-dropdown.w-100 {
  .p-dropdown.p-component.p-inputwrapper {
    width: 100% !important;
  }
}


be-task-list {
  position: fixed;
  top: calc(env(safe-area-inset-top) + 5rem);
  background-color: var(--primary-100);
  height: 100vh;
  z-index: 80;
  min-width: calc(env(safe-area-inset-right) + 16rem);
  padding-left: env(safe-area-inset-right) !important;
  @media screen and (max-width: 700px) {
    width: 100vw;
  }

  .be-bt-add-task {
    height: 0;
    button {
      border-radius: 0;
      border: unset;
      z-index: 1;
      box-shadow: 0 0rem 1rem var(--primary-800);
      border-bottom-left-radius: 25px;
      border-bottom-right-radius: 25px;
      margin-bottom: 0.5rem;
    }
  }
  
  .be-scroll-list {
    overflow-y: scroll;
    height: calc(100vh - 5rem);
    padding: 0 0 0.5rem 0.5rem;
    @supports (-webkit-touch-callout: none) {
      padding: 0 0.5rem 0.5rem 0.5rem;
    }
  }

  be-task-item {
    .p-card {
      box-shadow: unset;
      .be-task-item-header {
        background-color: var(--surface-ground);
      }
    }
    .p-card-content {
      padding: 0;
    }
    .p-card.p-component {
      border-radius: 0.5rem;
    }
  }

  be-task-item.be-task-item-selected, be-task-item:hover, be-task-item:active {
    .p-card {
      color: var(--primary-color-text);
      transition: background-color 0.3s;
      .be-task-item-header {
        background-color: rgba(255,255,255,0.4);
      }
    }
  }

  be-task-item.be-task-item-selected .p-card{
    background: var(--primary-color);
  }

  be-task-item:hover .p-card {
    background-color: var(--primary-600);
  }

  be-task-item:active .p-card {
    background-color: var(--primary-300);
  }
}

.be-content {
  padding: calc(env(safe-area-inset-top) + 6rem) 1rem 1rem calc(env(safe-area-inset-left) + 1rem);
  transition: margin-left 0.15s;
  overflow-y: auto;
  height: 100vh;
}

.be-content.be-sidebar-visible {
  @media screen and (min-width: 701px) {
    margin-left: 16rem;
  }
  @media screen and (max-width: 700px) {
    margin-left: 100vw;
    visibility: collapse;
    transition: visibility 0.15s;
  }
}
