/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-amber/theme.css";
@import "primeng/resources/primeng.css";
@import "primeflex/primeflex.scss";
@import "quill/dist/quill.bubble.css";
@import 'quill/dist/quill.snow.css';

:root {
  --highlight-text-color: #af1b08;
  --success-color: #22C55E;
  --warn-color: #f59e0b;
  --info-color: #0ea5e9;
  --error-color: #EF4444;
}
::-webkit-scrollbar {
  width: 0.75rem;
  margin: 1rem;
}

::-webkit-scrollbar-track {
  box-shadow: none; 
  border-radius: 0x;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-300); 
}

::-webkit-scrollbar-thumb:active {
  background: var(--info-color); 
}

a:-webkit-any-link {
  color: var(--primary-color);
  cursor: pointer;
  text-decoration: none;
  .p-tag {
    font-size: unset;
    font-weight: unset;
    padding: 0 0.25rem;
    &:hover {
      background: var(--highlight-text-color);
    }
    &:active {
      background: var(--highlight-bg);
      color: var(--primary-color);
    }
  }
}

html {
  min-height: calc(100% + env(safe-area-inset-top));
  overflow: hidden;
}

p-dialog.be-dialog-tabView {
  .p-dialog-resizable {
    width: 100vw;
    height: min(85vh, 625px) ;
  }
  p-tabView {
    max-width: calc(100vw);
    .p-tabview-nav-container {
      max-width: calc(100vw - 3rem);
    }
    .p-tabview-panels {
      padding-bottom: 0;
    }
  }
}

.p-tag.p-tag-secondary {
  background-color: var(--surface-d);
  color: var(--surface-400);
}

.be-code-viewer {
  font-family: monospace;
  counter-reset: line;
  max-width: calc(100vw - 3rem);
  overflow: auto; 
  p {
    &::before {
      counter-increment: line;
      content: counter(line);
      display: inline-block;
      border-right: 1px solid var(--surface-300);
      padding: 0 .5em 0 0;
      margin-right: .5em;
      background-color: var(--surface-200);
      width: 3.5ch;
      text-align: right;
    }
    &:last-of-type::before {
      border-bottom-left-radius: 6px;
    }
    line-height: 1.25em;
    margin: 0;
    white-space: nowrap;
  }
}


.be-result-tabView {
  &>div {
    border: solid 1px var(--surface-border);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  .p-tabview-panels {
    padding: 0;
  }
}

@media screen and (min-width: 725px) {
  p-dialog.be-dialog-tabView .p-dialog-resizable {
    width: 700px;
  }
}

.be-header, .be-header-tiny {
 height: 4rem;
}

@media screen and (max-width: 559px) {
  .be-header {
    display:none
   }
}

@media screen and (min-width: 560px) {
  .be-header-tiny {
    display:none
   }
}

body {
  margin: 0; 
  background-color: var(--highlight-text-color);
}

.fadeoutleft {
  visibility: collapse;
  transition: visibility 0.15s;
  .be-bt-add-task .p-button-label {
    display: none;
  }
}

.be-highlighted {
  border: 0.25em solid var(--primary-color);
  border-radius: 10px;
  margin: -0.25em;
  @media screen and (max-width: 767px) {
     margin: 0;
     padding: -0.25em;
  }
  animation-name: be-highlighted-blinking;
  animation-duration: 1.5s;
  animation-iteration-count: infinite
}

@keyframes be-highlighted-blinking {
  50% {
    border-color: transparent;
  }
}

.p-dialog {
  margin: 0.5rem
}

.p-blockui.p-component-overlay.p-component-overlay-enter {
  z-index: 89 !important;
}

p-button.w-full {
  button {
    width: 100%;
  }
}

be-toolbar {
  p-toolbar {
    position: fixed;
    top: 0;
    z-index: 90;
    width: 100%;
  }

  .p-toolbar.p-component {
    position: relative;
    box-shadow: 0 0.25rem 5px var(--primary-800);
    border-radius: 0;
    border: unset;
    background: var(--primary-color);
    padding-top: env(safe-area-inset-top) !important;
    padding: 0;
    padding-right: 1rem;
    @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
      background: color-mix(in srgb, var(--primary-color) 70%, transparent);
      -webkit-backdrop-filter: blur(0.5rem) brightness(160%);
      backdrop-filter: blur(0.5rem) brightness(160%);
    }
    .p-toolbar-group-start {
      width: 6rem;
    }
    .p-toolbar-group-end {
      width: 5rem;
    }
  }

  .be-toolbar-hide-logo {
    visibility: collapse;
    transition: visibility 0.14s;
  }

  .be-toolbar-show-logo {
    visibility: visible;
    transition: visibility 0.10s;
  }

  .p-button.p-button-lg {
    padding: 0.5em;
  }

  p-speeddial {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    .p-speeddial {
      position: relative;
      .p-button-icon {
        font-size: x-large !important;
      }
    }
    .p-speeddial-mask {
      height: calc(100vh);
      pointer-events: fill; 
      overflow: hidden;
      background-color: rgba(255, 255, 255, .9);
      @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
        background-color: rgba(255, 255, 255, .5);
        -webkit-backdrop-filter: blur(0.25em);
        backdrop-filter: blur(0.25rem);
      }
    }
  }
}

p-panel.be-panel-no-padding .p-panel-content {
  padding: 0;
  table {
    th:first-of-type, td:first-of-type {
      padding-left: 1.25em;
    }
    
    th:last-of-type, td:last-of-type {
      padding-right: 1.25em;
    }

  }
  .p-datatable-footer {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  p-messages {
    & > div {
      padding: 1rem;
      & > div {
        margin: 0;
      }
    }
  }
}

p-panel.be-panel-no-padding.be-table-rounded-last-row .p-panel-content, .be-result-tabView, .p-accordion-tab {
  table {
    tr:last-of-type {
      background: unset;
      td:first-of-type {
        border-bottom-left-radius: 6px;
      }
      td:last-of-type {
        border-bottom-right-radius: 6px;
      }
    }
  }
}

.p-tag-value {
  text-align: center;
}

.be-panel-data .p-panel-content {
  height: 425px;
}

.be-panel-jobs .p-panel-content {
  height: 455px;
}

be-processing p-progressBar {
  position: sticky;
  top: 0;
  z-index: 100;
  .p-progressbar {
    background: transparent;
  }
  .p-progressbar.p-component.p-progressbar-indeterminate {
    border-radius: 0;
    height: 0.25rem;
    margin-bottom: -0.25rem;
    .p-progressbar-value.p-progressbar-value-animate {
      background: var(--highlight-text-color) !important;
    }
  }
}

p-dropdown.w-100 {
  .p-dropdown.p-component.p-inputwrapper {
    width: 100% !important;
  }
}

.p-accordion-content {
  padding: 0;
}

.p-fieldset-legend {
  padding: 0.5rem !important;
}

.be-courier-font {
  font-family:'Courier New', Arial;
}

.be-bt-tiny > button {
  height: 1.25rem;
  width: 1.25rem;
  padding: unset;
}

.be-bt-add-task {
  height: 0;
  button {
    border-radius: 0;
    border: unset;
    z-index: 1;
    box-shadow: 0 0rem 1rem var(--primary-800);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-bottom: 0.5rem;
  }
}

be-task-list {
  position: fixed;
  top: calc(env(safe-area-inset-top) + 5rem);
  background-color: var(--primary-100);
  height: 100vh;
  z-index: 80;
  min-width: calc(env(safe-area-inset-right) + 20rem);
  padding-left: env(safe-area-inset-right) !important;
  @media screen and (max-width: 764px) {
    width: 100vw;
  }

  
  .be-scroll-list {
    overflow-y: scroll;
    height: calc(100vh - 5rem);
    padding: 0 0 0.5rem 0.5rem;
    @supports (-webkit-touch-callout: none) {
      padding: 0 0.5rem 0.5rem 0.5rem;
    }
  }

  be-task-item {
    .p-card {
      box-shadow: unset;
      .be-task-item-header {
        background-color: var(--surface-ground);
      }
    }
    .p-card-body {
      padding: 0.5rem 1rem 0.75rem 1rem;
      .p-card-content {
        padding: 0;
      }
    }
    .p-card.p-component {
      border-radius: 0.5rem;
    }
  }

  be-task-item.be-task-item-selected, be-task-item:hover, be-task-item:active {
    .p-card {
      color: var(--primary-color-text);
      transition: background-color 0.3s;
      .be-task-item-header {
        background-color: rgba(255,255,255,0.4);
      }
    }
  }

  be-task-item.be-task-item-selected .p-card{
    background: var(--primary-color);
  }

  be-task-item:hover .p-card {
    background-color: var(--primary-600);
  }

  be-task-item:active .p-card {
    background-color: var(--primary-300);
  }
}

.be-welcome-project-logo {
  width: 55vw;
  max-width: 35rem;
  @media (-webkit-device-pixel-ratio: 1.25) {
    max-width: 448px;
  }
  @media (-webkit-min-device-pixel-ratio: 1.26) {
    max-width: 300px;
  }
}

.be-content {
  padding: calc(env(safe-area-inset-top) + 6rem) 1rem 1rem calc(env(safe-area-inset-left) + 1rem);
  transition: margin-left 0.15s;
  overflow-y: auto;
  height: 100vh;
}

.be-content.be-sidebar-visible {
  @media screen and (min-width: 765px) {
    margin-left: 20rem;
  }
  @media screen and (max-width: 764px) {
    margin-left: 100vw;
    visibility: collapse;
    transition: visibility 0.15s;
  }
}

be-welcome {
  fieldset {
    z-index: 2;
    position: relative;
    box-shadow: 0 0.25rem 5px var(--primary-800);
  }
  .p-fieldset {
    background: color-mix(in srgb, var(--primary-color) 50%, transparent);
    border-color: transparent;
    color: var(--primary-color-text);
    .p-fieldset-content {
      padding: 0.5rem;
    }
  }
  .p-fieldset-legend {
    background: var(--primary-color);
    color: var(--primary-color-text);
    border-color: transparent;
    padding: 0.75rem;
  }
}
