/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-teal/theme.css";
@import "primeng/resources/primeng.css";
@import "primeflex/primeflex.scss";

html, body {
  overscroll-behavior-y: none;
}

body {
  margin: 0; 
  background-color: var(--highlight-text-color);
}

be-toolbar {
  display: contents;
  padding: 0 !important;
  
  .p-toolbar.p-component {
    position: relative;
    z-index: 90;
    box-shadow: 0 0.25rem 5px var(--primary-800);
    border-radius: 0;
    border: unset;
    background-color: var(--primary-color);
    height: 5rem;
    padding: 0;
    padding-right: 1.5rem;
  }
  p-speeddial {
    .p-speeddial {
      position: relative;
    }
    .p-speeddial-mask {
      height: calc(100vh);
      pointer-events: fill; 
      overflow: hidden;
      background-color: rgba(255, 255, 255, .9);
      @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
        background-color: rgba(255, 255, 255, .5);
        -webkit-backdrop-filter: blur(0.25em);
        backdrop-filter: blur(0.25rem);
      }
    }
  }
}

be-task-list {
  background-color: var(--primary-100);
  height: calc(100vh - 5rem);
}

.be-content {
  padding: 1rem;
}

.p-scrollpanel.be-scrollpanel {
  .p-scrollpanel-bar {
    background-color: var(--primary-400);
    opacity: 1;
    transition: background-color .2s;
  }
}