th.table-nr-column {
  text-align: center;
  width: 3rem;
}

td.table-nr-column {
  text-align: right;
}

td.table-input-column input{
  width: 100%;
}

tr.be-footer > td  {
  span {
    font-weight: 400 !important;
  }
}