<form [formGroup]="form" class="flex flex-column row-gap-3">
  <p-panel header="1. Provide description of data set">
    <div class="grid">
      @if(experimentOptions$ | async; as experimentOptions) {
        <div class="md:col-4 col-12 flex flex-column">
          <label class="mb-1 pl-2">Experiment</label>
          <p-dropdown [class.be-highlighted]="!form.controls.experimentOption.valid" class="w-100" formControlName="experimentOption" [options]="experimentOptions" optionLabel="name" placeholder="Pick experiment type" (onChange)="onChanges(form.controls.experimentCondition)"></p-dropdown>
        </div>
        <div class="md:col-4 col-12 flex flex-column">
          <label class="mb-1 pl-2">Condition</label>
          <p-dropdown [class.be-highlighted]="form.controls.experimentOption.valid && !form.controls.experimentCondition.valid" class="w-100" formControlName="experimentCondition" [options]="form.value.experimentOption?.conditions" optionLabel="name" placeholder="Pick experiment condition" (onChange)="onChanges(form.controls.experimentResolution, $event)"></p-dropdown>
        </div>
        <div class="md:col-4 col-12 flex flex-column">
          <label class="mb-1 pl-2">Resolution</label>
          <p-dropdown [class.be-highlighted]="form.controls.experimentCondition.valid && !form.controls.experimentResolution.valid" class="w-100" formControlName="experimentResolution" [options]="form.value.experimentCondition?.resolutions" placeholder="Pick number of input values"></p-dropdown>
        </div>
      }
    </div>
    <p-messages [value]="[{
        severity: 'info',
        detail: 'To create a new task, first select the experiment type and its condition for which you have a data set. You must then specify the resolution of the input data. The resolution determines the number of input values for the AI model. Once you have selected the experiment type, its condition and the resolution of the data set, you can upload it using the upload form of second step.'
      }]" [enableService]="false" [closable]="false">
    </p-messages>
    <p-accordion>
      <p-accordionTab header="All available AI-model options">
        @if(rows$ | async; as rows) {
          @if(breakpoint$ | async; as breakpoint) {
            <p-table *beRecreateViewKey="breakpoint" responsiveLayout="stack" [breakpoint]="breakpoint" styleClass="p-datatable-striped" [columns]="columns" [value]="rows" sortMode="multiple">
              <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th [style]="'width: ' + columns[0].width" pSortableColumn="name">
                      {{ columns[0].header }}
                      <p-sortIcon field="name" />
                    </th>
                    <th [style]="'width: ' + columns[1].width" pSortableColumn="resolution">
                      {{ columns[1].header }}
                      <p-sortIcon field="resolution" />
                    </th>
                    <th [style]="'width: ' + columns[2].width" pSortableColumn="fds.version">
                      {{ columns[2].header }}
                      <p-sortIcon field="fds.version" />
                    </th>
                    <th [style]="'width: ' + columns[3].width" pSortableColumn="experiment.name">
                      {{ columns[3].header }}
                      <p-sortIcon field="experiment.name" />
                    </th>
                    <th [style]="'width: ' + columns[4].width" pSortableColumn="experiment.condition">
                      {{ columns[4].header }}
                      <p-sortIcon field="experiment.condition" />
                    </th>
                    <th [style]="'width: ' + columns[5].width" pSortableColumn="experiment.scale.name">
                      {{ columns[5].header }}
                      <p-sortIcon field="experiment.scale.name" />
                    </th>
  
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr [pSelectableRow]="rowData">
                    <td><span class="p-column-title pr-2 font-semibold">{{ columns[0].header }}</span>{{ rowData.name }}</td>
                    <td><span class="p-column-title pr-2 font-semibold">{{ columns[1].header }}</span>{{ rowData.resolution }}</td>
                    <td><span class="p-column-title pr-2 font-semibold">{{ columns[2].header }}</span>
                      <div>
                        {{ rowData.fds.version }}
                        @if(!!rowData.fds.revision?.length) {
                          <i class="ml-2 fa-solid fa-circle-info" pTooltip="Revision: {{rowData.fds.revision}}" tooltipPosition="top"></i>
                        }
                      </div>
                    </td>
                    <td><span class="p-column-title pr-2 font-semibold">{{ columns[3].header }}</span>{{ rowData.experiment.name }}</td>
                    <td><span class="p-column-title pr-2 font-semibold">{{ columns[4].header }}</span>{{ rowData.experiment.condition }} {{ rowData.experiment.conditionMU }}</td>
                    <td><span class="p-column-title pr-2 font-semibold">{{ columns[5].header }}</span>
                      <div>
                        {{ rowData.experiment?.scale.name }}
                        <i class="ml-2 fa-solid fa-circle-info" [pTooltip]="rowData.experiment?.scale.desc" tooltipPosition="top"></i>
                      </div>
                    </td>
                  </tr>
              </ng-template>
            </p-table>
          }
        }
      </p-accordionTab>
    </p-accordion>
  </p-panel>
  <p-panel class="be-panel-no-padding be-table-rounded-last-row">
    <ng-template pTemplate="header">
      <div class="flex justify-content-between align-items-center flex-wrap gap-2 w-full">
        <span class="font-bold">2. Create new task</span>
        <div class="flex column-gap-2 align-items-center">
          <p-inputSwitch formControlName="training"></p-inputSwitch>
          <span>Provide data for AI training</span>
          <i class="fas fa-question-circle" pTooltip="Optionally, you can evaluate the results of this task to improve the AI algorithm. "></i>
        </div>
        <div class="flex justify-content-end w-full sm:w-auto">
          <p-button [class.be-highlighted]="form.valid" label="Submit" [disabled]="form.invalid" severity="success" (click)="addTask()"></p-button>
        </div>
      </div>
    </ng-template>
    @if(values$ | async; as values) {
      @if(!!values?.length) {
        <be-task-chart class="p-2 pt-0" [values]="values" [title]="form.value.experimentOption?.name || ''" label="Input values, condition: {{form.value.experimentCondition?.name}}"></be-task-chart>
      }
    }
    <p-table [value]="form.controls.values.controls" styleClass="p-datatable-striped">
      <ng-template pTemplate="caption">
        <div class="flex flex-wrap gap-2 align-items-center justify-content-between">
          <div class="flex column-gap-2 align-items-center">
            <span>Input values</span>
            @if(form.controls.experimentResolution.valid) {
              <i class="fas fa-question-circle" [pTooltip]="help()"></i>
            }
          </div>
          <div class="flex justify-content-end flex-column md:flex-row gap-2 w-full md:w-auto">
            <p-button class="w-full md:w-auto" label="Clear values" [disabled]="!form.controls.values.controls.length" icon="fas fa-xmark" severity="danger" (click)="form.controls.values.clear()"></p-button>
            @if (isDevMode()) {
              <p-button class="w-full md:w-auto" label="Add random values" [disabled]="!form.controls.experimentResolution.valid" icon="fas fa-wand-sparkles" severity="warning" (click)="addRandomValues()"></p-button>
            }
            <div [class.be-highlighted]="form.controls.experimentResolution.valid && !form.valid" class="flex flex-column md:flex-row gap-2 w-full md:w-auto">
              <p-button class="w-full md:w-auto" label="Paste from clipboard" [disabled]="!form.controls.experimentResolution.valid" icon="far fa-paste" severity="success" (click)="pasteFromClipboard()"></p-button>
              <p-button class="w-full md:w-auto" label="Upload file" [disabled]="!form.controls.experimentResolution.valid" icon="fas fa-upload" severity="success" (click)="showUploadDialog = true"></p-button>
            </div>
          </div>
        </div>
    </ng-template>
      <ng-template pTemplate="header">
          <tr>
              <th class="table-nr-column">Nr.</th>
              <th>Value</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
        <ng-container formArrayName="values">  
          <tr >
              <td class="table-nr-column">{{rowIndex + 1}}</td>
              <td class="table-input-column">
                <input pInputText [formControlName]="rowIndex" />
              </td>
          </tr>
        </ng-container>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="2" class="text-center">
              No values found.
              Please paste values from clipboard or upload a textfile.
              Values can be seperated by spaces, new-line characters, commas or semicolons.
            </td>
        </tr>
    </ng-template>
    </p-table>
  </p-panel>
</form>
<p-dialog header="Upload input file" [modal]="true" [(visible)]="showUploadDialog" [maximizable]="true">
  <p-fileUpload
    #fileUpload
    [customUpload]="true"
    [multiple]="false"
    accept="text/plain,text/csv"
    [showCancelButton]="false"
    (uploadHandler)="uploadFile($event)">
    <ng-template pTemplate="content">
      @if (!fileUpload.files.length) {
        <div class="grid justify-content-center">
          <i class="col-12 mt-3 text-4xl text-center fas fa-file-import"></i>
          <p class="col-12 mt-0 text-center">Drop Zone</p>
        </div>
      }
    </ng-template>
    <ng-template let-file pTemplate="file">
        <div class="col grid align-items-center">
            <div class="col">{{file.name}}</div>
            <div class="col-fixed">{{file.size | fileSize}}</div>
            <p-button class="col-fixed" icon="fas fa-times" severity="danger" (click)="removeFile(file)"></p-button>
        </div>
    </ng-template>
</p-fileUpload>
</p-dialog>