<form [formGroup]="form">
  <p-panel>
    <ng-template pTemplate="header">
      <div class="flex justify-content-between align-items-center flex-wrap column-gap-2 w-full">
          <span class="font-bold">Create Task</span>
          <div class="flex column-gap-2 align-items-center">
            <p-inputSwitch formControlName="training"></p-inputSwitch>
            <span>Provide data for AI training</span>
            <i class="fas fa-question-circle" pTooltip="Optionally, you can evaluate the results of this task to improve the AI algorithm. "></i>
          </div>
          <p-button label="Submit" [disabled]="form.invalid" severity="success" (click)="addTask()"></p-button>
      </div>
    </ng-template>
    @if(values$ | async; as values) {
      @if(!!values?.length) {
        <be-task-chart [values]="values"></be-task-chart>
      }
    }
    <p-table [value]="form.controls.values.controls" styleClass="p-datatable-striped">
      <ng-template pTemplate="caption">
        <div class="flex flex-wrap column-gap-2 row-gap-2 align-items-center justify-content-between">
          <div class="flex column-gap-2 align-items-center">
            <span>Input values</span>
            <i class="fas fa-question-circle" [pTooltip]="help"></i>
          </div>
          <div class="flex flex-wrap column-gap-2 row-gap-2">
            <p-button label="Clear values" [disabled]="!form.controls.values.controls.length" icon="fas fa-xmark" severity="danger" (click)="form.controls.values.clear()"></p-button>
            @if (isDevMode()) {
              <p-button label="Add random values" icon="fas fa-wand-sparkles" severity="warning" (click)="addRandomValues()"></p-button>
            }
            <p-button label="Paste from Clipboard" icon="far fa-paste" (click)="pasteFromClipboard()"></p-button>
          </div>
        </div>
    </ng-template>
      <ng-template pTemplate="header">
          <tr>
              <th class="table-nr-column">Nr.</th>
              <th>Value</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
        <ng-container formArrayName="values">  
          <tr >
              <td class="table-nr-column">{{rowIndex + 1}}</td>
              <td>
                <input pInputText [formControlName]="rowIndex" />
              </td>
          </tr>
        </ng-container>
      </ng-template>
    </p-table>
  </p-panel>
</form>
