<form [formGroup]="form">
  @if (running) {
    <p-blockUI [target]="pnl" [blocked]="running">
      <p-progressSpinner></p-progressSpinner>
    </p-blockUI>
  }
  <p-panel #pnl header="Run Task Job">
    <p-messages class="be-no-top-margin" [value]="[{
        severity: 'info',
        detail: 'Please select one of the AI models listed below. Then press the run-button to start the calculation. This can only be performed once for each model per task.'
      }]" [enableService]="false" [closable]="false">
    </p-messages>
    @if(breakpoint$ | async; as breakpoint) {
      <p-table
        #beModelTable
        class="be-table-rounded"
        *beRecreateViewKey="breakpoint"
        responsiveLayout="stack"
        [breakpoint]="breakpoint"
        styleClass="p-datatable-striped"
        [columns]="columns"
        [value]="lockableModels"
        sortMode="multiple"
        selectionMode="single"
        (onRowSelect)="form.controls.selectedModel.setValue($event.data!)"
        (onRowUnselect)="unselectRow()">
        <ng-template pTemplate="header" let-columns>
            <tr>
              <th [style]="'width: ' + columns[0].width" pSortableColumn="name"></th>
              <th [style]="'width: ' + columns[1].width" pSortableColumn="name">
                {{ columns[1].header }}
                <p-sortIcon field="name" />
              </th>
              <th [style]="'width: ' + columns[2].width" pSortableColumn="fds.version">
                {{ columns[2].header }}
                <p-sortIcon field="fds.version" />
              </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr [pSelectableRow]="rowData" [pSelectableRowDisabled]="rowData.locked" [class.text-400]="rowData.locked">
              <td><p-tableCheckbox [value]="rowData" [disabled]="rowData.locked"/></td>
              <td [class.flex]="rowData.locked" class="align-items-center gap-2">
                <span class="p-column-title font-semibold">{{ columns[1].header }}</span>
                {{ rowData.name }}
                @if (rowData.locked) {
                  <p-tag [rounded]="true" severity="secondary" value="already processed"/>
                }
              </td>
              <td><span class="p-column-title font-semibold">{{ columns[2].header }}</span>
                <div>
                  {{ rowData.fds.version }}
                  <i class="ml-2 fa-solid fa-circle-info" pTooltip="Revision: {{rowData.fds.revision}}" tooltipPosition="top"></i>
                </div>
              </td>
            </tr>
        </ng-template>
      </p-table>
    }
    <ng-template pTemplate="footer">
      <div class="flex justify-content-end align-items-center">
        <p-button [class.be-highlighted]="!form.invalid" label="Run" icon="fas fa-play" [disabled]="form.invalid" severity="success" (click)="runTask()"></p-button>
      </div>
    </ng-template>
  </p-panel>
</form>