<form [formGroup]="form">
  @if (running$ | async; as running) {
    <p-blockUI [target]="pnl" [blocked]="running">
      <p-progressSpinner></p-progressSpinner>
    </p-blockUI>
  }
  <p-panel #pnl header="Run Task">
    @if(models$ | async; as models) {
      <div class="grid">
        @if(fdsVersions$ | async; as fdsVersions) {
          <div class="md:col-3 col-12 flex flex-column">
            <label class="mb-1 pl-2">FDS versions</label>
            <p-dropdown class="w-100" formControlName="selectedVersion" [options]="fdsVersions" optionLabel="version" placeholder="Select a FDS version" (onChange)="changeFilter($event)" ></p-dropdown>
          </div>
        }
        @if(experiments$ | async; as experiments) {
          <div class="md:col-3 col-12 flex flex-column">
            <label class="mb-1 pl-2">Experiments</label>
            <p-dropdown class="w-100" formControlName="selectedExperiment" [options]="experiments" optionLabel="name" placeholder="Select an experiment" (onChange)="changeFilter($event)" ></p-dropdown>
          </div>
        }
        <div class="md:col-3 col-12 flex flex-column">
          <label class="mb-1 pl-2">AI-models</label>
          <p-dropdown class="w-100" formControlName="selectedModel" [options]="models" optionLabel="name" placeholder="Select an AI-model" (onChange)="changeModel($event)" ></p-dropdown>
        </div>
        @if(resolutions$ | async; as resolutions) {
          <div class="md:col-3 col-12 flex flex-column">
            <label class="mb-1 pl-2">Resolutions</label>
            <p-dropdown class="w-100" formControlName="selectedResolution" [options]="resolutions" optionLabel="name" placeholder="Select a resolution"></p-dropdown>
          </div>
        }
      </div>
    }
    <ng-template pTemplate="footer">
      <div class="flex justify-content-end align-items-center">
        <p-button [class.be-highlighted]="!task?.results?.length" label="Run" icon="fas fa-play" [disabled]="form.invalid" severity="success" (click)="runTask()"></p-button>
      </div>
    </ng-template>
  </p-panel>
</form>